.page {
  background-color: var(--color-white);
  min-height: 100vh;
}

.container__main {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
}

.page__content {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inactive-button {
  pointer-events: none;
}
