.toggle-box {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  gap: 12px;
}

.toggle-box__subtitle {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.toggle-box__input {
  padding: 0;
  margin: 0;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  appearance: none;
  cursor: pointer;
  background-color: var(--color-toggle-gray);
}

.toggle-box__input::after {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;
  left: 1px;
  content: "";
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  border: 1px solid var(--color-white);
  background-color: var(--color-tech-gray);
}

.toggle-box__input:checked::after {
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  transform: translate(16px);
  background-color: var(--color-green);
}

@media screen and (max-width: 550px) {
  .toggle-box__subtitle {
    font-size: 11px;
    line-height: 18px;
  }
}
